#banner {
    position: relative;
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    height: 30em;
}

#banner img{
    width: 100%;
    height: 100%;
}


#banner .contenedor{
    margin-top: .5em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#banner .contenedor img{
   width: 70%;

}

.btn{
    width: 150px;
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    display: block;
    color: #beb0a7;
    text-decoration: none;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top: 1em;
    background: #6a7b76;
    transition: 0.5s;
   
}

.btn:hover {
    background: #beb0a7;
    color:#6a7b76 ;
}

@media (min-width:1024px) {
    #banner{
        height: 100vh;
    }

    .btn {
        width: 300px;
        padding-top: 1em;
        padding-bottom: 1em;
        
        border-radius: 10%;
        
    }

    #banner .contenedor .btn {

        transform: translateY(60px);

    }
}