#music{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    
    
}

#music h3 {
 font-size: 4em;
 color: white;
 font-weight: 300;
 letter-spacing: .5em;
}

#music h4 {
    font-size: 1em;
    color: white;
    font-weight: 300;
    letter-spacing: .5em;
   }

.nofame{
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    background-position: center;
}

.vicolo{
    background-image: url(../img/musica/bg-VICOLO.jpg);
    background-size: cover;
}


#music img{
    width: 100%;
    margin-bottom: 2em;
}


#music iframe {
    width: 50em;
    height: 30em;
}


@media (min-width:1024px) {
    #music img{
        width: 80%;
        
    }

    #music iframe {
        width: 70%;
        height: 40em;
    }
}