
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-twitter:before { content: '\f30a'; } /* '' */
.icon-instagram:before { content: '\f31f'; } /* '' */
